*{
    padding: 0;
    margin: 0;
}

h1{
   text-align: center;
   background-color: #000000; 
   color: white;
   padding: 20px;
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: white;
    padding: 20px;   
}

p{
    color: white;
    padding: 20px;
}

/* DISEÑOS NAV BOTONES */

nav {
background-color: gray;
width: 100%;
list-style-type: none;
text-align: center;
}

nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: black;
}

/* DISEÑOS SECTON */

section {
    background-color: #000000;
}

h3{
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}



/* DISEÑOS GRID INICIO  */

.iniciogrid{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 40px 45px 40px 150px 40px 250px 40px;
}

/* DISEÑOS GRID NOSOTROS  */

.nosotrosgrid{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 40px 40px 80px 40px 500px;
}

.map{
    padding-top: 20px;
}

/* DISEÑOS GRID NOVEDADES */

.novedadesgrid{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 40px 40px 300px 400px;
}

/* DISEÑOS GRID CONTACTO */

.contactogrid{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 40px 40px 800px;
}

/* DISEÑOS GRID COMPRAR */

.comprargrid{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 40px 40px 40px auto 40px;
}

.card{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-text{
    color: #000000;
}

.card-title{
    background-color: gray;
    color: #ffffff;
}

.comprar{
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    list-style-type: none;
    background-color: gray;
    color: #ffffff
}

/* DISEÑOS SECTION FORMULARIO */

.form{
    background-color: #ffffff;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 13px 37px black;
}

.contact{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: .8rem;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

.contact label, .contact inpu, .contact textarea{
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.contact label {
    font-weight: 700;
}

.contact input, contact textarea{
    border: none;
    border-bottom: 2px black;
    margin-bottom: 20px;
    outline: none;
}

/* DISEÑOS FOOTER */

.footer{
    background-color: #000000;
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;

}

/* DISEÑOS BODY */

body{
    background-color: #000000;
}


